@font-face {
    font-family: Circle;
    src: url('../webFonts/Clown-Ring/font.woff');
}

/* 575.98px and lower */
@media (max-width: 575.98px){
    .masthead .circle-font h1 {
        font-size: 2rem;
        padding-top: 5.5rem;
    }

    .masthead .circle-font p {
        font-size: 2rem;
    }

    .masthead .mastSubHead {
        font-size: 1.5rem;
    }
}

/* 576px - 768px */
@media (min-width: 576px) and (max-width: 871px) {
    .card-img-overlay {
        height: 12rem;
    }
    .card-img {
        height: 12rem;
    }
}

@media (min-width: 576px) and (max-width: 643px) {
    .card-img-overlay {
        height: 17rem;
    }
    .card-img {
        height: 17rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .masthead .circle-font h1 {
        font-size: 4rem;
        padding-top: 3.5rem;
    }

    .masthead .circle-font p {
        font-size: 2.5rem;
    }

    .masthead .mastSubHead p {
        font-size: 1.5rem;
    }
}

/* Other Screens */
@media (min-width: 768px) {
    .masthead .circle-font h1 {
        font-size: 5rem;
        padding-top: 2.5rem;
    }

    .masthead .circle-font p {
        font-size: 3rem;
    }

    .masthead .mastSubHead {
        font-size: 1.5rem;
    }

    .carouselContainer {
        margin-top: -0.36rem;
    }
}

.pt-6 {
    padding-top: 5rem;
}

.w-65 {
    margin-left: -41%;
}

footer.footer {
    bottom: 0;
    width: 100%;
    height: 60%;
    line-height: 60px;
    margin-top: 1.5rem;
    background-color: #f5f5f5;
}

footer.footer .container-fluid img {
    width: 7rem;
    height: 7rem;
    margin-top: .5rem;
    padding-bottom: .5rem;
}

footer.footer .container-fluid img.quietcool-image {
    width: 10rem;
}
footer.footer .container-fluid img.lic-bond-image {
    width: 12rem;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.masthead .circle-font {
    margin-bottom: -10rem;
}

.masthead .circle-font {
    font-family: Circle;
    color: #ffaa00;
}

.masthead .mastSubHead p {
    color: #ffaa00
}

.carousel-item {
    width: 100%;
    height: 45rem;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.yellow-button {
    border-color: #ffaa00 !important;
    color: #ffaa00;
}

.yellow-button:hover {
    background-color: #ffaa00;
    color: black;
}

#imageCarousel {
    width: auto;
    margin-left: -2rem;
}

ul#serviceListHome li {
    list-style-type: none;
    margin-left: -2.5rem;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
